

<h1> Name : <%= @staffmember.name %> </h1>

<h1> Photo : <img src="<%= @staffmember.photo %>"> </h1>

<h1> Position : <%= @staffmember.position %> </h1>

<h1> Description: <%= @staffmember.description %> </h1>

<h1> Joke : <%= @staffmember.joke %> </h1>